In [1]:
# 1) Assign the 5th character of the string below to a variable.

In [2]:
my_string = "Python Ogreniyorum"

In [3]:
my_letter = my_string[4]

In [4]:
my_letter

'o'

In [5]:
# 2) Print all the characters between the 5th and 8th characters (inclusive) of the string below.

In [6]:
my_new_string = "ProgramlamayaMerhabaDedik"

In [7]:
my_new_string[4:8:]

'raml'

In [8]:
# 3) Reverse the string below using code.

In [9]:
my_last_string = "Afyonkarahisarlilastiramadiklarimizdanmisiniz"

In [10]:
my_last_string[::-1]

'zinisimnadzimiralkidamaritsalilrasiharaknoyfA'

In [11]:
# 4) What will be the data type of the result of the following operation?

4 + 12.2 + 48

In [12]:
#float

In [13]:
type(4 + 12.2 + 48)

float

In [14]:
# 5) What is the result of the following operation?

5 + 7 * 12

In [15]:
#89

In [16]:
5 + 7 * 12

89

In [17]:
# 6) Create this list in at least two different ways: [1,3,"a"]

In [18]:
list1 = [1,3,"a"]

In [19]:
list1

[1, 3, 'a']

In [20]:
list2 = []

In [21]:
list2.append(1)
list2.append(3)
list2.append("a")

In [22]:
list2

[1, 3, 'a']

In [23]:
list3 = list()

In [24]:
list3.append(1)
list3.append(2)
list3.append("a")

In [25]:
list3

[1, 2, 'a']

In [26]:
# 7) Extract the "b" below in a single line of code:

In [27]:
my_list = [3.14,4,[2,3,"b"],True]

In [28]:
my_list[2][2]

'b'

In [29]:
# 8) Extract the "a" below in a single line of code:

In [30]:
my_dictionary = {"key1":20.25, "kk2":[40,{"k21":"a"}]}

In [31]:
my_dictionary["kk2"][1]["k21"]

'a'

In [32]:
# 9) Which values will remain in the set when the following list is converted into a set?

In [33]:
my_list_to_be_set = [3,4,9,3,21,22,4,3,9,10,21,22]

In [34]:
#3,4,9,10,21,22

In [35]:
set(my_list_to_be_set)

{3, 4, 9, 10, 21, 22}

In [36]:
# 10) What will be the result of the following expression?

In [37]:
x = 30 * 5 + 3

In [38]:
y = 108 - 2 * 4

x > y

In [39]:
x

153

In [40]:
y

100

In [41]:
#True

In [43]:
x > y

True